<div>
<html>
<head>
	<title>Directivas</title>
</head>
<body>
<!-- 	<utn-saludo></utn-saludo>
	<div>
		<utn-saludo></utn-saludo>
	</div>
	<div class="utn-saludo">
	</div>
	<utn-saludo-dos></utn-saludo-dos>
	<div>
		<utn-saludo-dos></utn-saludo-dos>
	</div>
	<div class="utn-saludo-dos">
	</div>
	 directive: utn-saludo-dos 
	<utn-titulo></utn-titulo>
	<utn-titulo-parametro miparametro="Nuevo titulo"></utn-titulo-parametro> 
	<div ng-repeat="bandera in listadoDeBanderas">
		<utn-bandera nombrepais="{{bandera.Nombre}}" fotobandera="{{bandera.BanderaChica}}"></utn-bandera>
	</div>-->
	<div ng-repeat="bandera in listadoDeBanderas">
		<utn-bandera-obj banderita="bandera"></utn-bandera-obj>
	</div>
</body>
</html>
</div>
